<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.votingsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainAdminLogin"></activity>
        <activity android:name=".MainVerification" />
        <activity android:name=".Result_Activity" />
        <activity android:name=".Vote_Activity" />
        <activity android:name=".Candidate_Info_Activity" />
        <activity android:name=".Dashboard_Voter_Activity" />
        <activity android:name=".Candidate_Add_Activity" />
        <activity android:name=".Result_Admin_Activity" />
        <activity android:name=".Voting_Admin_Activity" />
        <activity android:name=".Candidate_Admin_Activity" />
        <activity android:name=".Dashboard_Admin_Activity" />
        <activity android:name=".Candidate_Edit_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>